#name {
    font-family: Verdana;
    font-size: 55px;
    color: #0d6efd;
    text-emphasis: underline;
}

.nav-item {
    padding-left: 50px;
}

.navbar-nav {
    display: flex;
}

.about {
    font-family: Georgia;
    font-size: 40px;
    color: #006400;
    padding-bottom: 15px;
}

.favourites {
    font-family: serif;
    font: "Times New Romana";
    font-size: 30px;
    color: #FF4500;
    padding-top: 20px;
    border: 2px;
}

.table {
    margin: 1rem;
    position: center;
    border: 1px groove;
    border-color: black;
}

.list {
    padding: 20px;
    position: center;
    list-style: none;
}

.div {
    text-align: center;
}

#aboutHobbies {
    padding-top: 30px;
    font-family: Georgia;
    font-size: 40px;
    color: #006400;
    padding-bottom: 10px;
}

ul {
    border: 1px solid;
    border-color: black;
}
li {
    padding-bottom: 10px;
    font-size: 1.5rem;
}

ol {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

