.site-header {
    padding: 3rem 5vw;
}

.site-nav {
    max-width: 96rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.site-nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6495ED;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    margin-bottom: 0;
}

.menu a {
    display: block;
    padding: 1rem;
}

@media screen and (max-width: 48rem) {
    .site-header {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .site-nav,
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .site-nav a {
        padding: 0.25rem 0.5rem;
        padding-left: 0;
    }
}

.hero {
    max-width: 100%;
    display: flex;
    margin-bottom: 4rem;
}

.hero div:first-child {
    flex-basis: 65%;
    padding-right: 2.5rem;
}

.hero div:last-child {
    flex-basis: 35%;
}

.hero img {
    border-radius: 50%;
    width: 100%;
}
