/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --color-background: #0f172a;
        --color-background-alt: #1e293b;
        --color-text: #cbd5e1;
        --color-text-bright: #e2e8f0;
        --color-text-strong: #f8fafc;
        --color-subtext: #94a3b8;
        --color-primary: #f472b6;
        --color-accent: #7dd3fc;
    }
}

/* Global styles */
* {
    margin: 0;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font: var(--font-size)/var(--line-height) var(--font-sans);
    margin: 0 auto;
}

@media screen and (max-width: 64rem) {
    body {
        font-size: 1.125rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-sans);
    color: var(--color-text-strong);
}

h1 {
    font-size: 2em;
    line-height: 1.25;
    margin-bottom: 2rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
}

a {
    color: var(--color-primary);
}

strong {
    color: var(--color-text-strong);
}

ul, ol {
    margin-bottom: 1.5rem;
    padding: 0 0 0 1.25rem;
}

li {
    margin-bottom: 0.5rem;
}

blockquote {
    margin: 1rem 0 2rem 1rem;
    padding: 0.6rem 1.5rem 0;
    border-inline-start: 0.35rem solid var(--color-primary);
    font-style: italic;
}

@media screen and (max-width: 64rem) {
    blockquote {
        margin-left: 0;
    }
}

pre {
    background-color: var(--color-background-code) !important;
    font-family: var(--font-mono);
    font-size: 1rem;
    overflow: auto;
    border-radius: var(--border-radius-small);
    padding: 1.6rem 1.8rem 1.8rem;
    margin-bottom: 3rem;
}

date,
svg {
    display: block;
}

.icon-inline {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.icon-rss {
    padding-left: 5px;
}

figure {
    margin: 2rem auto 2rem;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-small);
}

figcaption {
    color: var(--color-subtext);
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    padding-top: 0.5rem;
}

header+figure {
    margin-top: 0;
}

/* Page layout */

.content {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    max-width: 72rem;
    padding: 3rem 0;
    margin: 0 auto 2rem;

    line-height: 1.6;
}

.content>* {
    grid-column: 3/span 8;
}

.content>.full-width {
    grid-column: 2/span 10;
}

.content-inner {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.content-inner>* {
    grid-column: 2/span 8;
}

.content-inner>.full-width {
    grid-column: 1/-1;
}


@media screen and (max-width: 64rem) {
    .content {
        padding-top: 1rem;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 0;
    }

    .content>* {
        grid-column: 2/span 10;
    }

    .content>.full-width {
        grid-column: 1/-1;
    }

    .content-inner {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
}

@media screen and (max-width: 48rem) {

    .content>*,
    .content-inner>* {
        grid-column: 1/-1;
    }
}

.site-header {
    padding: 3rem 5vw;
}

.site-nav {
    max-width: 96rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.site-nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6495ED;
    text-decoration: none;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    margin-bottom: 0;
}

.menu a {
    display: block;
    padding: 1rem;
}

@media screen and (max-width: 48rem) {
    .site-header {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .site-nav,
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .site-nav a {
        padding: 0.25rem 0.5rem;
        padding-left: 0;
    }
}

.hero {
    max-width: 100%;
    display: flex;
    margin-bottom: 4rem;
}

.hero div:first-child {
    flex-basis: 65%;
    padding-right: 2.5rem;
}

.hero div:last-child {
    flex-basis: 35%;
}

.hero img {
    border-radius: 50%;
    width: 100%;
}
