#name {
    font-family: Verdana;
    font-size: 55px;
    color: #0d6efd;
    text-emphasis: underline;
}

.about {
    font-family: Georgia;
    font-size: 40px;
    color: #006400;
}

.favourites {
    font-family: sans-serif;
    color:
}
