#name {
    font-family: Verdana;
    font-size: 55px;
    color: #0d6efd;
    text-emphasis: none;
    padding: 1rem;
}

#mainsection {
    max-width: 100%;
    display: flex;
}

.introductuion {
    flex-basis: 65%;
    padding-right: 2.5rem;
}

.image {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    padding-left: 50px;
}

.navbar-nav {
    display: flex;
    width: 100%;
}

.about {
    font-family: Georgia;
    font-size: 40px;
    color: #006400;
    padding-bottom: 15px;
}

.favourites {
    display: flex;
    font-family: serif;
    font-size: 40px;
    color: #FF4500;
    padding-top: 20px;
    padding-left: 20px;
    border: 2px;
}

.table {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px groove;
    border-color: black;
}

.container {
    width: 1500px;
    height: 1000px;
}

.mainlist {
    padding: 20px;
    text-align: left;
    list-style: none;
}


.list {
    padding: 20px;
    list-style: none;
}

.div {
    text-align: center;
}

#aboutHobbies {
    padding-top: 30px;
    font-family: Georgia;
    font-size: 40px;
    color: #006400;
    padding-bottom: 10px;
}

.footer {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    padding-bottom: 20px;
}

h4 {
    padding-bottom: 20px;
}


ul {
    border: 1px solid;
    border-color: black;
}
li {
    padding-bottom: 10px;
    font-size: 1.5rem;
}

ol {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

tr {
    font-size: 2rem;
}

th {
    text-align: center;
    padding-top: 100px;
    flex-basis: 50%;
}

td {
    text-align: center;
}

img {
    border-radius: 50%;
    display: flex;
    justify-content: right;
}

